In [1]:
import pandas as pd

In [13]:
rainfall_df = pd.read_excel('./Data/RainfallCL3175771.xlsx', header=8)

In [14]:
rainfall_df.shape

(1826, 9)

In [17]:
rainfall_df.head()

,SL,DISTRICT,UPAZILA,STATION ID,STATION NAME,DATE,RAIN FALL(mm),LATITUDE,LONGITUDE
0,1,Bandarban,Lama,CL317,Lama,01-jan-2017,0.0,21.81,92.19
1,2,Bandarban,Lama,CL317,Lama,02-jan-2017,0.0,21.81,92.19
2,3,Bandarban,Lama,CL317,Lama,03-jan-2017,0.0,21.81,92.19
3,4,Bandarban,Lama,CL317,Lama,04-jan-2017,0.0,21.81,92.19
4,5,Bandarban,Lama,CL317,Lama,05-jan-2017,0.0,21.81,92.19

In [19]:
rainfall_df.columns

Index(['SL', 'DISTRICT', 'UPAZILA', 'STATION ID', 'STATION NAME', 'DATE',
       'RAIN FALL(mm)', 'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [20]:
rainfall_df.dtypes

SL                 int64
DISTRICT          object
UPAZILA           object
STATION ID        object
STATION NAME      object
DATE              object
RAIN FALL(mm)    float64
LATITUDE         float64
LONGITUDE        float64
dtype: object

In [24]:
rainfall_df['RAIN FALL(mm)'].value_counts()

0.0      1159
4.0        34
6.0        32
2.0        25
3.0        23
         ...
16.5        1
172.0       1
93.0        1
160.0       1
7.6         1
Name: RAIN FALL(mm), Length: 180, dtype: int64